body {
    font-family: sans-serif;
    margin: 1em;
}

.service {
    min-width: 500px;
    display: block;
    float: left;
    margin: 1ex;
}

.service h2 {
    border-bottom: 1px dotted;
    margin: 1ex 0;
    padding: 0px;
}

.service .service-address {
    margin: 0px;
}

.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #286e96;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
}

.btn:hover {
  background: #146ec8;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

ul.event {
    border: 1px solid #ccc;
    padding: 1ex;
    list-style: none;
}

ul.event.timestamp {
    border: none;
    padding: 0;
}

.timestamp {
    border: 1px solid #aaa;
    padding: 1ex;
    margin: 1ex 0;
}

